<div style="padding-bottom: 15px;padding-left: 0px" class="col-lg-2">
  <button class="btn btn-primary" ng-click="ctrl.addRow()"><i class="fa fa-plus"></i> Thêm mới</button>
</div>
<table>
  <!-- <caption>Statement Summary</caption> -->
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col" ng-repeat="content in columns">{{content.label}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data">
      <td data-label="No" ng-click="ctrl.updateRow(item)">{{$index+1}}</td>
      <td data-label="{{key.label}}" ng-repeat="key in columns">{{item[key.value] || "-"}}</td>
      <td>
        <a class="glyphicon glyphicon-trash" style="color: rgb(255, 0, 0);" ng-click="ctrl.deleteRow(item.id)"></a>
      </td>
    </tr>
  </tbody>
</table>
